td,th{
  text-align: center;
}

table{
  margin: 0px;
}

.table-content{
  border: 1px solid #cccccc;
  padding: 0px;
  margin: 10px;
  margin-bottom: 30px;
}

.pagination-center{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

i.fa{
  font-size:15px;
  margin-left: 5px;
}

.content-data-filter,.has-search{
  display: flex;
}
.content-data-filter>span{
  padding: 18px;
  padding-left: 25px;
  font-size: 20px;
}

.has-search>span{
  padding: 7px;
  padding-left: 25px;
  font-size: 15px;
}