<div class="container pb-5">

  <div class="header py-3">
    <h1>Listado de Eventos</h1>
    <hr>
  </div>

  <div class="row ">
    <div class="col-md-3">
      <label for="">Filtos:</label>
      <div class="form-group has-search">
        <input #inputSearch type="text" class="form-control" (keyup)="updateTable(inputSearch.value)" placeholder="Buscar">
        <span class="fa fa-times-circle form-control-clear" (click)="handleClear()"></span> 
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12">
      <br>
      <label for="">Filtrar por fecha...</label>
    </div>
    <div class="col-md-4 col-lg-3 content-data-filter">
      <mat-form-field >
        <input matInput [ngxMatDatetimePicker]="picker"
          type="datetime"
          placeholder="Fecha inicio"
          [(ngModel)]="dateStart"
          (ngModelChange)="filterbyDate()"
        >
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker
          [showSpinners]="true" [showSeconds]="true"
          [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
          [touchUi]="false"
          [color]="'#cccccc'">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="col-md-4 col-xs-4 content-data-filter">
      <mat-form-field >
        <input matInput [ngxMatDatetimePicker]="picker2"
          type="datetime"
          placeholder="Fecha fin"
          [(ngModel)]="dateEnd"
          (ngModelChange)="filterbyDate()"
        >
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2
          [showSpinners]="true" [showSeconds]="true"
          [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
          [touchUi]="false"
          [color]="'#cccccc'">
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <span class="fa fa-times-circle form-control-clear" 
      (click)="clearDataFilter()"
      title="Limpiar Filtrado.."
      ></span>
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-12 col-sx-12 table-content table-responsive" >
     <table class="table">
        <thead class="">
          <tr class="">
            <th *ngFor="let head of tableHeader" [ngClass]="{ 'head-flex': head === 'FECHA'}">
              {{head}}
              <i *ngIf="head === 'FECHA'"
                (click)="sortByDate()"
                class="fa"
                [ngClass]="{
                  'fa-angle-down': orderByDate !== 'ASC',
                  'fa-angle-up': orderByDate === 'ASC'
                }"
                title="Ordenar por Fecha !.."
              >
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableBodyFilter | paginate: {
              id: 'listing_pagination',
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: tableBodyFilter.length
            }"
          >
            <td>{{row.id}}</td>
            <td>{{row.labels.join(", ")}}</td>
            <td>
              <span class="badge badge-pill"
                [ngClass]="{
                  'badge-info':row.criticality === 'alta',
                  'badge-warning':row.criticality === 'media',
                  'badge-danger':row.criticality === 'baja'
                }"
              >
                {{row.criticality}}
              </span>
            </td>
            <td>
              {{row.timestamp|parseDate}}
            </td>
            <td>
              {{row.eventBody.symbol}} <span *ngIf="row.eventBody.codigoOperacion">- ({{row.eventBody.codigoOperacion}})</span>
            </td>
            <td>
              <span
                class="badge badge-pill"
                [ngClass]="{
                  'badge-secondary':row.status === 'desconcido',
                  'badge-success':row.status !== 'desconcido'
                }"
              >
                {{row.status}}
              </span>
            </td>
            <td>
              <input type="checkbox" (click)="changeChecked(row)" [checked]="row.checked === 'visto'">
            </td>

          </tr>
          <tr>
            <td *ngIf="tableBodyFilter.length===0" colspan="6" class="opacity_label">No existen resultados</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row generic-pagination-buttons py-4">
    <div class="order-sm-1 order-2 col-6 col-sm-3">
      <div class="total-vistos">
        <b>Resumen:</b> <br>
        Vistos: {{totalVistos}} <br>
        No Vistos: {{totalRec - totalVistos}}
      </div>
    </div>
    <div class="order-sm-2 order-1 col-12 col-sm-6 pagination-center">
      <div class="generic-pagination-buttons-pagination">
        <pagination-controls
        id="listing_pagination"
          class="generic-pagination"
          maxSize="5"
          directionLinks="true"
          (pageChange)="page = $event"
          previousLabel="" nextLabel="">
        </pagination-controls>
      </div>
    </div>
    <div class="order-sm-3 order-3 col-6 col-sm-3">
      <div class="item-per-pages">
        <div class="mb-3">
          <div class=" number-page-box input-group is-invalid">
            <div class="input-group-prepend ">
              <label class="number-page-label input-group-text" for="validatedInputGroupSelect">Items</label>
            </div>
            <select #itemForTable class="custom-select" id="validatedInputGroupSelect" (change)="saveItemPerPage(itemForTable.value)" required>
              <option *ngFor="let num of numItems" [value]="num" [selected]="this.itemsPerPage===num">
                {{ num }}
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
